<div class="container mt-3">
  <h1>This is our new application</h1>
  <%#= link_to "text we see on the page", prefix_path %>
  <%= link_to root_path, class: "btn btn-primary" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>
