<div class="container mt-3">
  <h1>Home Page</h1>
  <%# time = Time.now %>
  <%#=  time %>
  <%= link_to "Contacts", contacts_path, class: "btn btn-primary" %>
  <%= link_to "About", about_path, class: "btn btn-primary" %>
</div>
